<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="methodNameResolver_common" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
 		<property name="mappings">
 			<props>
 			<prop key="/common/get_dong_list.do">GetDongList</prop>
			</props>
 		</property>
 	</bean> 	
 	
 	<bean id="urlMapping_common" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
 		<property name="mappings">
 			<props>
 			<prop key="/common/get_dong_list.do">CommonCodeControl</prop>
 			</props>
 		</property>
 	</bean>
 	
 	
	<bean id="CommonCodeControl" class="main.java.common.web.CommonCodeControl">
		<property name="methodNameResolver">
			<ref local="methodNameResolver_common"/>
		</property>
		<property name="commonCodeService" ref="commonCodeService"/>
	</bean>


 	 <bean id="commonCodeService" class="main.java.common.service.CommonCodeService">
 		<property name="commonCodeDao" ref="commonCodeDao"/>
 	</bean>
 	<bean id="commonCodeDao" parent="ramsJdbcDaoSupport" class="main.java.common.dao.CommonCodeDao"/>
</beans>